body {
	background-color: #ffffff !important;
}

/* CSS for homepage */

/* move the first div containing the logo and login down to provide a margin */

.top { 
	margin-top: 30px;
	margin-bottom: 30px;
}

/* button customisation */

@media(max-width: 768px) {
	.btn-scale {
		font-size: 11px;
	}
}
.btn-colour {
	background: #0b3c5d;
	color: #ffffff !important;
}

.btn-colour:hover {
	background: #696969;
	color: #ffffff !important;
	border-style: solid;
	border-color: #696969;
}

.btn-colour:active {
	position:relative;
	top: 2px;
}


/* helps scale image for mobile screens */
img {
	max-width: 100%;
	border-radius: 5%;
}

/* Main content of page */
.title {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, serif;
	margin: 1em;
	color: #0b3c5d;
	font-size: 2.8vw;
}

#about-us {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-size: 1.6vw;
	position: relative;
	top: 4em;
}

.go-right {
	float: right;
}


.image-tag {
	font-style: italic;
	font-size: 1em;
	font-size: 1.1vw;
	text-align: center;
	float: right;		/* two lines are required to align text with image above */
	max-width: 500px; 
}

/* Question Table */

#table-title {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, serif;
	margin-top: 1.25em;
	margin-bottom: 2em;
	font-size: 1.9vw;
}
.table {
	table-layout: fixed;
	width: 100%;
}

.table .ten {
	width: 10%;
}

.table .eighty {
	width: 80%;
}

th {
	font-size: 1em;
	font-size: 1.2vw;
}

td {
	font-family: "Roboto", sans-serif;
	font-size: 1.1em;
	font-size: 1.15vw;
}

.table-text {
	font-family: "Roboto", sans-serif;
	font-size: 1.1em;
	font-size: 1.15vw;
	margin-top: 1.5em;
}

a {
	color: inherit;
}

/* CSS for questions page  */

#page-title {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, serif;
	text-align: center;
	font-size: 2vw;
}

#enter-title, #enter-question, .form-scale {
	font-size: 1.2vw;
}

.btn-submit {
	font-size:  1.2vw;
}

