body {
	background-color: #ffffff !important;
}

/* CSS for homepage */
/* move the first div containing the logo and login down to provide a margin */
.top { 
	margin-top: 30px;
	margin-bottom: 30px;
	
}

/* button customisation */
.btn-colour {
	background: #0b3c5d;
	color: #ffffff !important;
	border: 
}

.btn-colour:hover {
	background: #696969;
	color: #ffffff !important;
	border-style: solid;
	border-color: #696969;
}

.btn-colour:active {
	position:relative;
	top: 2px;
}

/* helps scale image for mobile screens */
img {
	max-width: 100%;
	border-radius: 5%;
}

/* Main content of page */
.title {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, serif;
	margin: 1em;
	color: #0b3c5d;
}

#about-us {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	position: relative;
	top: 4em;
}

.go-right {
	float: right;
}


.image-tag {
	font-style: italic;
	font-size: 0.8e;
	text-align: center;
	float: right;		/* two lines are required to align text with image above */
	max-width: 500px; 
}

/* CSS for the table containing the questions */

#table-title {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, serif;
	margin-top: 1.25em
}
.table {
	table-layout: fixed;
	width: 100%;
}

.table .ten {
	width: 10%;
}

.table .eighty {
	width: 80%;
}

td {
	font-family: "Roboto", sans-serif;
	font-size: 1.1em
}

.table-home {
	margin-top: 2em
}

.table-text {
	font-family: "Roboto", sans-serif;
	font-size: 1.1em;
	margin-top: 1.5em;
	
}

a {
	color: inherit;
}

/* CSS for questions page  */

#page-title {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, serif;
	text-align: center;
}
