body {
	background-color: #ffffff !important;
}

/* move the first div containing the logo and login down to provide a margin */
.top { 
	margin-top: 30px;
	margin-bottom: 30px;
	
}

/* button customisation */
.btn-colour {
	background: #0b3c5d;
	color: #ffffff !important;
	border: 
}

.btn-colour:hover {
	background: #696969;
	color: #ffffff !important;
	border-style: solid;
	border-color: #696969;
}

.btn-colour:active {
	position:relative;
	top: 2px;
}

/* helps scale image for mobile screens */
img {
	max-width: 100%;
	border-radius: 5%;
}

.title {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, serif;
	padding: 15px;
	color: #0b3c5d;
}

/* Main content of page */
#about-us {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	position: relative;
	top: 4em;
}

.go-right {
	float: right;
}


.image-tag {
	font-style: italic;
	font-size: 0.8e;
	text-align: center;
	max-width: 500px; /* required because the text didn't match up to the image */ 
}